@import url('https://fonts.googleapis.com/css?family=Oswald');
//colors
$color_gray: #a2a8b0;
$white: #fff;
$darkOrange: #e7562b;
$orange: #ef6c23;
//fonts
$font: Oswald;
//urls
$url_0: url(#SVGID_1_);
$url_1: url(#bar-height-info);
$url_2: url(#SVGID_6_);
$url_3: url(#SVGID_7_);
.st0 {
    fill: $color_gray;
}
.bg{fill:url(#bg);}
.st1 {
    opacity: .54;
    fill: $url_0;
}

.st2 {
    fill: $url_1;
}

.st6 {
    fill: $white;
}

.st7 {
    fill: $url_2;
}

.st8 {
    fill: $url_3;
}

.st9 {
    opacity: .15;
    fill: $white;
}

.st10 {
    font-family: $font;
}

.st11 {
    font-size: 21.9842px;
}

.st12 {
    fill: $darkOrange;
}

.st13 {
    font-size: 29.7202px;
}

.st14 {
    font-size: 13.0868px;
}

.st15 {
    fill: $darkOrange;
}

.st17 {
    font-size: 6.3439px;
}

.st18 {
    font-size: 5.3158px;
}

.st19 {
    font-size: 2.4647px;
}

.st20 {
    fill: $orange;
}

g,
rect,
linearGradient {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

button {
	margin: 10px 0;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
	background: #e7562b;
	border: 1px solid #e7562b;
	color: #fff;
	cursor: pointer;
}